<footer class="footer">
        <div class="fad">
            <i class="fab fa-twitter" id="tweet"></i><i class="fab fa-facebook" id="face"></i><i class="fab fa-youtube" id="insta"></i>
        </div><br>
        Made with ❤️ by Exun
    </footer>