<nav class="navbar">
    <a href="/" class="logo">B99.</a>
    <ul class="menu">
        <li class="navitem">
            <a href="/" class="link">Home</a>
        </li>
        <li class="navitem">
            <a href="/merch" class="link">Merch</a>
        </li>
        <li class="navitem">
            <a href="/characters" class="link">Characters</a>
        </li>
        <li class="navitem">
            <a href="/posts" class="link">Forum</a>
        </li>
        <li class="navitem">
              <a href="/users/logout" class="link">Logout</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
    </div>
</nav>