<style>
button:hover {
        border: 2px solid red;
        background-color: black;
        color: white;
        cursor: pointer;
}
a {
        text-decoration: none;
        color: white;
      }
</style>
    <section class="hero">
        <div class="container2">
            <div class="cards">
              <img src="images/charecters-img/jake.jpg" alt="Image" />
              <h1>Jake Peralta</h1>
              <h3>Andy Samberg portrays Detective Jacob "Jake" Sherlock Peralta, a talented but childish detective.</h3>
              <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Jake_Peralta'  target="_blank"  >Click Here</a></button>
            </div> 

            <div class="cards">
              <img src="images/charecters-img/amy.jpg" alt="Image" />
              <h1>Amy Santiago</h1>
              <h3>Melissa Fumero portrays Sergeant Amy Santiago, Jake's uptight rule-following partner and wife.</h3>
                  <button ><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Amy_Santiago' target="_blank">Click Here</a></button>
            </div> 
            <div class="cards">
              <img src="images/charecters-img/rose.jpg" alt="Image" />

              <h1>Rosa Diaz</h1>
              <h3>
                Stephanie Beatriz portrays Detective Rosa Diaz, a smart, tough, aloof, and mysterious detective.
                </h3>
                  <button><a  href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Rosa_Diaz'  target="_blank" >Click Here</a></button>
            </div> 
        </div>
        <div class="container2">
          <div class="cards">
            <img src="images/charecters-img/terry.jpg" alt="Image" />
            <h1>Terry Jeffords </h1>
            <h3>Terry Crews portrays Lieutenant Terry, the supervisor of the 9-9's Detective Squad. 
              </h3>
                <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Terry_Jeffords' target="_blank" >Click Here</a></button>
          </div> 

          <div class="cards">
            <img src="images/charecters-img/charles.jpg" alt="Image" />
            <h1>Charles Boyle
            </h1>
            <h3>Joe Lo Truglio portrays Detective Charles Boyle, a nervous, honest and hard-working detective.</h3>
                <button ><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Charles_Boyle'  target="_blank" >Click Here</a></button>
          </div> 
          <div class="cards">
            <img src="images/charecters-img/gina.jpg" alt="Image" />

            <h1>Gina Linetti
            </h1>
            <h3>Chelsea Peretti portrays Gina Linetti, Captain Holt's assistant the Precinct's civilian administrator.</h3>
                <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Gina_Linetti' target="_blank" >Click Here</a></button>
          </div> 
        </div> 
      </div>

        <div class="container2">
            <div class="cards">
            <img src="images/charecters-img/holt.jpg" alt="Image" />

            <h1>Raymond Holt
            </h1>
            <h3>Andre Braugher portrays Captain Raymond Holt, the 99th Precinct's Commanding Officer.

              </h3>
                <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Raymond_Holt' target="_blank"  >Click Here</a></button>
          </div> 
          <div class="cards">
            <img src="images/charecters-img/hock.jpg" alt="Image" />

            <h1>Michael Hitchcock</h1>
            <h3>  Blocker portrays Detective 3rd Grade Michael Hitchcock , an enthusiastic but clueless detective. </h3>
                <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Michael_Hitchcock' target="_blank"  >Click Here</a></button>
          </div> 
          <div class="cards">
            <img src="images/charecters-img/scully.jpg" alt="Image" />

            <h1>Norm Scully
            </h1>
            <h3>Joel McKinnon Miller portrays Detective Norman "Norm" Scully, a middle-aged, lazy desk worker.</h3>
                <button><a href='https://en.wikipedia.org/wiki/List_of_Brooklyn_Nine-Nine_characters#Norm_Scully' target="_blank" >Click Here</a></button>
          </div> 
        </div> 
      </div>


      </section>
      