
<h1 class="heading">Create New Post</h1>
<%- include ("./partials/errorcreate"); %>
<form action="/posts" method="POST">
    <label for="text" class="create-field">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="create-field"
      value= <%= username %>
    />
    <label for="text" class="create-field">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Enter Title"
      class="create-field"
      value="<%= typeof title != 'undefined' ? title : '' %>"
    />
    <label for="text" class="create-field">Article</label>
    <textarea
      type="text"
      id="article"
      name="article"
      placeholder="Enter Article"
      class="create-field"
    >
    <%= typeof article != 'undefined' ? article : '' %>
    </textarea>
    
  <button class="create-field">Post</button>
</form>

