<style>
  .cards img{
    height:400px;
  }
  .cards button {
  margin-top: 10rem;
  }
   button:hover {
        border: 2px solid red;
        background-color: black;
        color: white;
        cursor: pointer;
}
   a {
        text-decoration: none;
        color: white;
      }
}
</style>

<section class="hero">
        <div class="container2">
            <div class="cards">
              <img src="images/merch/Screenshot 2021-08-26 at 7.54.40 PM.png" alt="Image" />
              <h1 id="h1">Wallaby Nine Nine Squad Blue Inside & Handle Ceramic Mug (330 ml)</h1>
              
              <button  id="b12" class="b14" > <a href='https://www.amazon.in/Wallaby-Squad-Inside-Handle-Ceramic/dp/B08XMZ1TRQ/ref=sr_1_31?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-31' target="_blank"  >Buy on Amazon</a></button>
            </div> 

            <div class="cards">
              <img src="images/merch/Screenshot 2021-08-26 at 7.56.23 PM.png" alt="Image" />
              <h1 id="h1">JUST MOMENTS Full Black Ceramic Coffee Mug for Brooklyn 9-9 Lovers</h1>
            <button  id="b12" class="b15" ><a href='https://www.amazon.in/JUST-MOMENTS-Ceramic-Brooklyn-Merchandise/dp/B08MWFSQRH/ref=sr_1_5?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-5' target="_blank" >Buy on Amazon</a></button>
            </div> 
            <div class="cards">
              <img src="images/merch/Screenshot 2021-08-26 at 7.56.53 PM.png" alt="Image" />

              <h1 id="h1"> Amazing Slash Genius -Brooklyn Nine Nine Fan Coffee Mug (White) 330ML</h1>
      
                  <button id="b12" class="b13"> <a href='https://www.amazon.in/URBAN-PENDU-Ceramic-Brooklyn-Coffee/dp/B08MCN12FH/ref=sr_1_6?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-6' target="_blank">Buy on Amazon</a></button>
            </div> 
        </div>
        <div class="container2">
          <div class="cards">
            <img src="images/merch/Screenshot 2021-08-26 at 7.57.31 PM.png" alt="Image" />
            <h1 id="h1">JUST MOMENTS Full Black Ceramic Coffee Mug for Brooklyn 9-9 Lovers (Design 4) </h1>
                <button id="b12" class="b16"> <a href='https://www.amazon.in/JUST-MOMENTS-Ceramic-Brooklyn-Merchandise/dp/B08MWFSDYW/ref=sr_1_7?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-7'  target="_blank" >Buy on Amazon</a></button>
          </div> 

          <div class="cards">
            <img src="images/merch/Screenshot 2021-08-26 at 7.58.12 PM.png" alt="Image" />
            <h1 id="h1">Good hope Brooklyn 99 TV Series Framed Poster (Artificial Wood, 10 x 13 inch)
            </h1>
                <button id="b12"  class="b17"><a href='https://www.amazon.in/Brooklyn-Poster-Office-13inch-Framed/dp/B07VL8QXV1/ref=sr_1_16?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-16' target="_blank" >Buy on Amazon</a></button>
          </div> 
          <div class="cards">
            <img src="images/merch/Screenshot 2021-08-26 at 7.58.37 PM.png" alt="Image" />

            <h1 id="h1">Good Hope Brooklyn Nine-Nine TV Series Rolled Poster (Matte paper , 13 X 19 Inch)
            </h1>
                <button id="b12" class="b18"><a href='https://www.amazon.in/Good-Hope-Brooklyn-Nine-Nine-Multicolour/dp/B07P9M6M3C/ref=sr_1_12?crid=3HFSB4LVODMJX&dchild=1&keywords=brooklyn+nine+nine+merchandise&qid=1629987810&sprefix=brookl%2Caps%2C298&sr=8-12' target="_blank" >Buy on Amazon</a></button>
          </div> 
        </div> 
      </div>
      </section>
      
    

